<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Kahoot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to right, #99ccff, #99ffcc);
        }
        .container {
            margin-top: 100px;
        }
        a{
            margin-bottom: 30px;
        }
        .jumbotron {
            background-color: #FFF;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            height: 400px;
            opacity: 0;
            animation: slideInAnimation 1s ease-in-out forwards;
        }
        h1 {
            color: #FF4500;
        }
        p {
            color: #000;
        }
        .btn-kahoot {
            background-color: #FF4500;
            color: #FFF;
            border: none;
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            transform: scale(1);
        }
        .btn-kahoot:hover {
            transform: scale(1.05);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        }

        @keyframes slideInAnimation {
            from {
                opacity: 0;
                transform: translateY(-50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .kahoot-logo {
            width: 100%;
            max-width: 500px;
            height: auto;
            margin-top:-20px;
            animation: moveLeftToRight 10s linear infinite alternate;
        }
        @keyframes moveLeftToRight {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(calc(100% - 100px));
            }
        }
    </style>
</head>
<body>
<audio id="backgroundMusic" loop autoplay volume="0.4">
    <source src="../public/images/lobby-classic-game.mp3" type="audio/mp3">
</audio>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="../public/images/Kahoot_Logo.png" class="kahoot-logo">
            <div class="jumbotron">
                <h1>Welcome to Kahoot</h1>
                <p>Join the fun learning experience!</p>
                <a href="/quiz_play" class="btn btn-kahoot btn-lg">Start Playing</a> <br>
                <a href="/create-quiz" class="btn btn-kahoot btn-lg">Create Quiz</a><br>
                <a href="/profile" class="btn btn-kahoot btn-lg">View Profile</a> <br>
                <a href="/logout" class="btn btn-kahoot btn-lg">Logout</a> <br>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
