<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot Lobby</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #99ccff, #99ffcc);
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: slideInAnimation 1s ease-in-out forwards;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .game-code-input {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            border: 2px solid #3498db;
            border-radius: 5px;
            margin-bottom: 20px;
            box-sizing: border-box;
            transition: border-color 0.3s;
        }
        .game-code-input:focus {
            border-color: #2ecc71;
            outline: none;
        }
        .btn {
            display: inline-block;
            background-color: #2ecc71;
            color: white;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .btn:hover {
            background-color: #27ae60;
        }
        @keyframes slideInAnimation {
            from {
                opacity: 0;
                transform: translateY(-50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .kahoot-logo {
            width: 100%;
            max-width: 300px;
            height: auto;

            animation: moveLeftToRight 10s linear infinite alternate;
        }
        @keyframes moveLeftToRight {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(calc(100% - 100px));
            }
        }
    </style>
</head>
<body>
<img src="../public/images/Kahoot_Logo.png" class="kahoot-logo">
<audio id="backgroundMusic" loop autoplay volume="0.4">
    <source src="../public/images/lobby-classic-game.mp3" type="audio/mp3">
</audio>

<div class="container">
    <h1>Welcome to Kahoot Lobby</h1>
    <p>Enter the game code provided by the host to join the game:</p>
    <form id="joinGameForm" action="/users/join-game" method="POST">
        <input type="text" class="game-code-input" id="gameCodeInput" placeholder="Enter Game Code" name="gameCode" required>
        <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i> Join Game</button>
    </form>
</div>


<script src="../socketio.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const socket = io();
        const joinGameForm = document.getElementById('joinGameForm');
        joinGameForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const gameCodeInput = document.getElementById('gameCodeInput');
            const gameCode = gameCodeInput.value.trim();
            if (gameCode) {
                socket.emit('joinGame', gameCode);
            } else {
                alert('Please enter a game code');
            }
        });

        socket.on('gameJoined', (gameCode) => {
            window.location.href = `/game/${gameCode}`;
        });


    });
</script>
</body>
</html>
